/* HTML tags */
body {
  background-color: #eee;
  margin: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table, th, td {
  border: 1px solid #999;
}
th, td {
  padding: 5px 10px;
}

/* Main */
.contents {
  margin: 20px auto;
  width: 256px;
}
.canvas-wrapper {
  background-color: #ffffff;
  position: relative;
  width: 100%;
}
.canvas-wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mt {
  margin-top: 20px;
}

/* Utilities */
.clearfix:before {
  display: table;
  content: "";
}
.clearfix:after {
  display: table;
  clear: both;
  content: "";
}
